.bunner_pesquisa{
    background: var(--gradiente);
    color: var(--fundo-secundario);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 2.5em 2em;
    box-sizing: border-box;
    width: 100vw;
}
.titulo_bunner_pesquisa{
    font-weight: 700;
    font-size: 1.125rem;
}
.texto_bunner_pesquisa{
    font-weight: 400;
    font-size: 1rem;
    padding: 1em 0;
}
.form_pesquisa{
    background-color: transparent;
    border: 1px solid var(--fundo-secundario);
    border-radius: 25px;
    width: 100%;
    padding: 1em;
    color: var(--fundo-secundario);
}
.form_pesquisa::placeholder{
    color:var(--fundo-secundario);
    font-family: 'Poppins';
    font-weight: 400;
    text-align: center;
    background: url(../img/Lupa.svg) no-repeat;
    background-position: 5%;
}
@media screen and (min-width:1024px){
    .titulo_bunner_pesquisa{
        font-size: 2.25rem;
    }
    .bunner_pesquisa{
        padding: 5em 5em;
    }
    .form_pesquisa{
        width: 50%;
    }
    .form_pesquisa::placeholder{
        background-position: 4em;
    }
}