.cabecalho{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    box-sizing: border-box;
}
.container_itens{
    display: flex;
    align-items: center;
}
.burguer_menu{
    width: 25px;
    height: 25px;
    background-image: url(../img/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.imagem_header{
    padding: 1.5em;
}
.texto_sacola,.texto_perfil{
    display: none;
}
.lista_links{
    display: none;
    position: absolute;
    top: 100%;
    font-family: 'Poppins', sans-serif;
    width: 60vw;
    background-color: var(--fundo-secundario);
}
.clique_menu_burguer:checked~.lista_links{
    display: block;
}
.lista_titulo{
    color: var(--cor-destaque);
    font-weight: bold;
}
.item_lista{
    background:var(--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.item_lista , .lista_titulo{
    padding:5%;
    font-size: 1rem;
}
.clique_menu_burguer{
    display: none;
}
.logo{
    display: none;
}
.cabecalho{
    align-items: center;
}
.lista_adicao{
    display: none;
}
@media screen and (min-width:1024px){
    .cabecalho{
        justify-content: space-around;
    }
 .burguer_menu{
    display: none;
 }
 .coracao{
    display: none;
 }
 .logo{
    display: block;
    font-size: 1.875rem;
    font-family: 'Josefin sans', sans-serif;

 }
.logo_negrito{
    font-weight: 700;
}
.lista_adicao{
    display: flex;
}
.adicao_item{
    padding: 0 1.5em;
    font-family: 'Poppins';
    font-weight: 400;
    text-transform: uppercase;
}
.adicao_link{
    text-decoration: none;
    color: var(--cor-letra);
    font-family: 'Poppins';
    font-weight: 400;
    text-transform: uppercase;
}
.interacao_menu_burguer:checked~.lista_links{
    display: block;
}
.interacao_menu_burguer{
    display: none;
}
.lista_links{
    width: auto;
    padding: 1em;
}
.item_lista{
    padding: 0.5em 0;
}
.texto_perfil,.texto_sacola{
    display: none;
}
}
@media screen and (min-width:1728px) {
    .sacola,.perfil{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .texto_sacola, .texto_perfil{
        font-size: 1.25rem;
        display: block;
        font-family: 'Poppins', sans-serif;
        color: var(--cor-letra);
    }
    .container_itens{
        margin-left: auto;
        padding-right: 10%;
    }
}