.titulo_carrossel{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 1em;
    background-color: var(--fundo-secundario);
    font-weight: 700;
    color: var(--cor-destaque);
}
.swiper-slide img{
    width: 100%;
}
.swiper-pagination{
    position: initial;
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}
